<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Snail</title>
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
	<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
	<link rel="stylesheet" href="/styles.css" type="text/css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
	<header class="navbar">
		<section class="navbar-section">
			<a href="/home" class="navbar-brand">Home</button> </a>
		</section>
		<section class="navbar-section">
			{{#if isLoggedIn}}
			<a href="/logout" class="btn btn-link">Logout</a>
			<a href="/projects/create-project" class="btn btn-link">CreateProject</a>
			<a href="/contact/view-contacts" class="btn btn-link">View Contacts</a>
			{{/if}}
			{{#if previouslyViewedGuestBookPostId}}
			<a href="/guestBook/guestBookPost/{{previouslyViewedGuestBookPostId}}" class="btn btn-link">previous
				Message</a>
			{{/if}}
			<a href="/contact" class="btn btn-link">Contact</a>
			<a href="/projects" class="btn btn-link">Projects</a>
			<a href="/about" class="btn btn-link">About</a>
			<a href="/guestbook" class="btn btn-link">Guestbook</a>
		</section>
	</header>
	<main>
		{{{body}}}
	</main>
	<footer id="footer" class="page-footer">
		<div class="containers">
			<div class="row">
				<div class="columns col-gapless">
					<div class="column col-6">
						<div class="intro-text-bottom-page">
							<h4>Dennis Andersson</h4>
							<p id="main-text-bottom-page">Here you can follow my daily life, or contact me for specific
								work. For More information visit the appropriate slide.</p>
						</div>
					</div>
					<div class="column col-6">
						<ul class="other-list-section">
							<h4>Other</h4>
							<li><a href="https://www.linkedin.com/">LinkedIn</a></li>
							<li><a href="https://github.com/Tomatopunch/?tab=repositories">Github</a></li>
							<li><a href="https://twitter.com/dennis_super">Twitter</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="columns">
				<div class="column col-9">&copy; 2019 Dennis Andersson</div>
				<div class="column col-3"> <a href="mailto: dennisfram@hotmail.com">dennisfram&#64;hotmail.com</a>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>