<div id="about-main-section">
    <div class="container">
        <div class="columns">
            <div class="column col-6">
                <figure class="figure">
                    <img class="img-responsive s-circle" src="Dennis.jpg" alt="Small Dennis">
                </figure>
            </div>
            <div class="column col-4 right-side-about-text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facilis accusamus a optio fugit.
                    Voluptas corrupti architecto voluptate. Enim rerum molestiae distinctio numquam est vero explicabo
                    corrupti repellat id similique?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam blanditiis non, porro cum
                    distinctio
                    et sit praesentium, nemo laboriosam accusamus libero sed est fugiat voluptas fugit saepe veniam
                    consequuntur ea!
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, sint fugit esse velit itaque id
                    sit
                    rem, a distinctio molestias in quam! Maxime accusamus excepturi, tempore repellendus illum mollitia
                    ipsam?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt labore praesentium tenetur, quod
                    sunt
                    ex, aut hic repellendus delectus esse nam, nobis minima quibusdam doloremque nihil deserunt iste.
                    Reiciendis, culpa. </p>
            </div>
        </div>
    </div>
</div>