<div class="contact-form">
	<h1>Contact Me</h1>

	{{#if validationErrors.length}}
	<p>Error List</p>
	<ul>
		{{#each validationErrors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}

	<form method="POST" action="/contact">
		<div class="form-group">
			<input class="form-input" type="email" name="email" id="input-email" placeholder="Work email" value="{{email}}">
		</div>
		
		<div class="form-group">
			<select class="form-select" type="text" name="topic" id="input-topic">
				<option value="default" selected disabled hidden>Choose here</option>
				<option>Work</option>
				<option>Question</option>
				<option>Service</option>
				<option>Other topic</option>
			</select>
		</div>

		<div class="form-group">
			<textarea class="form-input" value="text" name="contactMessage" id="input-message"
				placeholder="Go ahead, we're listening..." rows="3">{{contactMessage}}</textarea>
		</div>

		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<div><button class="btn btn-primary input-group-btn" type="submit">Submit</button></div>
</div>
	</form>