{{#if validationErrors.length}}
	<p>Error List</p>
	<ul>
		{{#each validationErrors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}
 
{{#if isLoggedIn}}
<div class="contact-form">
    <form action="" method="POST">
		<div class="form-group">
			<label class="form-label" for="input-example-1">Title</label>
			<input class="form-input" type="text" value="{{title}}" name="title" id="input-example-1">
		</div>

		<div class="form-group">
			<label class="form-label" for="input-example-3">Projectdescription</label>
			<textarea class="form-input" value="projectDescription" name="projectDescription" id="input-example-3" rows="3">{{projectDescription}}</textarea>
		</div>

		<div>
			<input type="hidden" name="_csrf" value="{{csrfToken}}">
			<button class="btn btn-primary input-group-btn" type="submit">Submit</button>
		</div>
    </form>
</div>
{{/if}}