<div class="contact-form">
	<h1>Please sign my guestbook🤡</h1>

	{{#if validationErrors.length}}
	<p>Error List</p>
	<ul>
		{{#each validationErrors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}

	{{#if updateErrors.length}}
	<p>Error List</p>
	<ul>
		{{#each updateErrors}}
		<li>{{this}}</li>
		{{/each}}
	</ul>
	{{/if}}

	<form method="POST" action="/guestbook">

		<div class="form-group">
			<label class="form-label" for="input-example-1">Full Name</label>
			<input class="form-input" type="text" name="name" id="input-example-1" value="{{name}}">
		</div>

		<div class="form-group">
			<label class="form-label" for="input-example-1">Email</label>
			<input class="form-input" type="email" name="email" value="{{email}}">
		</div>

		<div class="form-group">
			<label class="form-label" for="input-example-3">Message</label>
			<textarea class="form-input" value="text" name="message" id="input-example-3" rows="3">
				{{message}}
			</textarea>
		</div>

		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<div><button class="btn btn-primary input-group-btn" type="submit">Submit</button></div>
	</form>
</div>

{{#if guestBook.length}}
{{#each guestBook}}
<div class="guestBookMessages-grid">
	<div class="card">
		<a href="guestBook/guestBookPost/{{id}}">
			<h4>Name: {{name}}</h4>
			<p>Email: {{email}}</p>
			<p>Message: {{message}}</p>
		</a>

		{{#if ../isLoggedIn}}
		<form action="/guestBook/deleteGuestBookPost" method="POST">
			<input type="hidden" name="_csrf" value="{{../csrfToken}}">
			<div><button class="btn btn-primary input-group-btn" name="id" value="{{id}}" type="submit">Delete</button>
			</div>
		</form>

		<form action="/guestBook/updateGuestBookPost" method="POST">
			<div class="form-group">
				<label class="form-label">Full Name</label>
				<input class="form-input" type="text" name="updateName">
			</div>

			<div class="form-group">
				<label class="form-label">Email</label>
				<input class="form-input" type="email" name="updateEmail">
			</div>

			<div class="form-group">
				<label class="form-label">Message</label>
				<textarea class="form-input" value="updateMessages" name="updateMessages" rows="3"></textarea>
			</div>

			<input type="hidden" name="_csrf" value="{{../csrfToken}}">
			<div><button class="btn btn-primary input-group-btn" name="id" value="{{id}}" type="submit">Update</button>
			</div>
		</form>
		{{/if}}
	</div>
</div>
{{/each}}
{{/if}}