<div id="homepage-text">
    <div class="container">
        <div class="columns">
            <div class="column col-12">
                <h1>Dennis Andersson</h1>
                <h2>Welcome to Snail</h2>
                <img src="testheart.png" alt="little-heart">
            </div>
        </div>
    </div>
</div>