<div class="login">
	<h1>Login</h1>
	<form action="/login" method="POST">
		<div>
			Username: <input type="text" name="username" value="{{username}}">
		</div>
		<div>
			Password: <input type="password" name="password">
		</div>
		
		<input type="hidden" name="_csrf" value="{{csrfToken}}">
		<input type="submit" value="Login">
	</form>

	{{#if invalidCredentials}}
	<p>Invalid username or password. Cannot log in.</p>
	{{/if}}
</div>