{{#if validationErrors.length}}
    <p>Error List</p>
    <ul>
        {{#each validationErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

{{#if updateError.length}}
    <p>Error List</p>
    <ul>
        {{#each updateErrors}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

<div class="container project-container">
    <div class="content">
        <div class="project-grid">
            {{#if project.length}}
                {{#each project}}
                    <div class="project-grid-item">
                        <img src="card-image-test.png">
                        <p>{{title}}</p>
                        <p>{{projectDescription}}</p>
                        <p>{{dateWhenPosted}}</p>
                        {{#if ../isLoggedIn}}
                            <form action="/projects/deleteProjectPost" method="POST">       
		                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <div><button class="btn btn-primary input-group-btn" name="id" value="{{id}}"
                                type="submit">Delete</button></div>
                            </form>

                            <form action="/projects/updateProjectPost" method="POST">
                                <div class="form-group">
                                    <label class="form-label">Title</label>
                                    <input class="form-input" type="text" name="title">
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Projectdescription</label>
                                    <textarea class="form-input" value="projectDescription" name="projectDescription"
                                    rows="3"></textarea>
                                </div>
                                
		                        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <div><button class="btn btn-primary input-group-btn" name="id" value="{{id}}"
                                    type="submit">Update</button>
                                </div>
                            </form>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>