{{#if isLoggedIn}}
    {{#each contacts}}
        <div class="contact-form">
            <p>{{email}}</p>
            <p>{{topic}}</p>
            <p>{{contactMessage}}</p>
            <form action="/contact/deleteContactPost" method="POST">
		        <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                <div><button class="btn btn-primary input-group-btn" name="id" value="{{id}}" type="submit">Delete</button></div>
            </form>
        </div>
    {{/each}}
{{/if}}