html {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-weight: 400;
  background-color: #000;
}

footer {
  width:100%;
  background:black; 
}

.navbar {
  background-color: black !important;
}

.navbar-section {
  transition: 0.3s;
  font-size: 1rem;
  color: #fff;
}

.navbar-brand:hover {
  color: red;
}

.btn.btn-link {
  transition: 0.3s;
  font-size: 1rem;
  color: #fff;
  display: block;
}

.btn.btn-link:hover {
  color: red;
}

.page-footer {
  bottom: 0px;
  margin: 0px;
  width: 100%;
  background-color: black;
  color: #fff;
  display: block;
  /* position: absolute; */
  font-size: 14px;
}

.containers {
  background-color: rgba(129, 129, 129, 0.246);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.other-list-section {
  margin: 0px;
  text-indent: 20%;
}

.intro-text-bottom-page {
  margin: 0px;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.footer-copyright {
  margin: 0px;
}

.s-circle {
  position: sticky;
  right: 40%;
  left: 12%;
  margin-top: 40px;
}

.right-side-about-text {
  font-size: 1rem;
  color: #fff;
  margin-top: 80px;
}

#homepage-text {
  color: #fff;
  text-align: center;
  background-color: black;
}

#about-main-section {
  background-color: black;
}

.contact-form {
  text-align: center;
  background-color: #000;
  color: #fff;
}

.form-group {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.form-select {
  color: #000;
}

.btn.btn-primary.input-group-btn {
  background-color: red;
  border-style: none;
}

.btn.btn-primary.input-group-btn:hover {
  background-color: rgb(155, 0, 0);
}

#main-text-bottom-page {
  text-align: justify; 
  margin: auto;
  width: 60%;
  padding: 10px;
}

.guestbook-messages {
  background-color: lime;
}

.project-grid{
  display: grid;
  grid-template-columns: auto auto auto;
}

.project-grid-item{
 text-align: center;
 height:30%;
 width: 50%;
 margin-bottom: 2%;
}

.project-grid-item img{
  width:100%;
}

.project-grid-item p{
  word-break: break-all;
}

.content{
  height:100%;
}

textarea {
  resize: none;
}

.project-container {
  background-color: #000;
  color: #fff;
}

.guestBookMessages-grid{
  display: grid;
  grid-template-columns: auto;
  background-color: black;
}

.card {
  text-align: center;
  background-color: black;
  color: white;
  border: solid white;
}



